.PersonalCenter {
    width: (1433rem/24);
    margin: 0 auto;
    padding: (70rem/24) 0;

    .contentWrapper {
        display: flex;
        justify-content: space-between;

        .leftPart {
            .idCardWrapper {
                height: (831rem/24);
                width: (640rem/24);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                .idCard {
                    width: (409rem/24);
                    height: (249rem/24);
                    background-repeat: no-repeat !important;
                    background-size: contain !important;
                    background-position: center !important;
                }
            }
        }

        .rightPart {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .title {
                font-size: (32rem/24);
                font-weight: bold;
                text-align: center;
            }

            .personalInfoWrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: (448rem/24);

                .infoWrapper {
                    font-size: (28rem/24);
                    padding: (14rem/24) (52rem/24);
                    vertical-align: middle;
                    box-shadow: #D2D0D0 (5rem/24) (0rem/24) (20rem/24);

                    .label {
                        display: inline-block;
                        width: 5em;
                    }

                    .info {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .modifyButtonWrapper {
        text-align: right;
        margin-top: (32rem/24);

        .modifyButton {
            width: (311rem/24);
            height: (66rem/24);
            font-size: (36rem/24);
        }
    }
}