.InsuranceNoticeModal {

    .insuranceNotice {
        font-family: sans-serif;
        font-size: (28rem/24);
        max-height: 20rem;
        overflow: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}